<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/14df2288-44eb-494d-b393-7b8fcccfcc5e/resourceGroups/IDDA/providers/Microsoft.Web/sites/authgovermentapp</ResourceId>
    <ResourceGroup>IDDA</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://authgovermentapp.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <ExcludeApp_Data>false</ExcludeApp_Data>
    <ProjectGuid>92204c54-4fb1-4cc3-9be7-8bf16fbeecee</ProjectGuid>
    <MSDeployServiceURL>authgovermentapp.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>authgovermentapp</DeployIisAppPath>
    <SkipExtraFilesOnServer>true</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>true</EnableMSDeployBackup>
    <EnableMsDeployAppOffline>true</EnableMsDeployAppOffline>
    <UserName>$authgovermentapp</UserName>
    <_SavePWD>true</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <TargetFramework>net8.0</TargetFramework>
    <SelfContained>Framework-dependent</SelfContained>
    <RuntimeIdentifier>Portable</RuntimeIdentifier>
    <EncryptedPassword>AQAAANCMnd8BFdERjHoAwE/Cl+sBAAAAqabiow8ArUGNgkTiSAjNiAAAAAACAAAAAAADZgAAwAAAABAAAACmiJd+RaH+RSzqde8plO+FAAAAAASAAACgAAAAEAAAANr39JhAmngNQyLcSLSMJ/aAAAAAxTj9RojuUFiKUjP/rEa3fC3Uke2h5mMdKWCz9nhhuCTVedEBFohFuHWd8sw9+BBwbk0ulWlOMsArYvsG3kb2v6+TX8jJxjBSly+pzzZe3m4wcigqFlBymt2q7qACDsSB/D5Kg4/J1xfMHidIK/TIoWWy6pzLwW0S9ybZyiWypzcUAAAAhoCCydxZoHO8nQCXL+HXZT24Izg=</EncryptedPassword>
    <History>False|2024-06-10T08:47:51.8210890Z||;</History>
    <EnvironmentSubType>AppServicePublishProfileVisual</EnvironmentSubType>
    <_PublishBasicAuthDisabled>true</_PublishBasicAuthDisabled>
  </PropertyGroup>
</Project>