<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/14df2288-44eb-494d-b393-7b8fcccfcc5e/resourceGroups/IDDA/providers/Microsoft.Web/sites/authgovermentapp</ResourceId>
    <ResourceGroup>IDDA</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://authgovermentapp.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <ExcludeApp_Data>false</ExcludeApp_Data>
    <ProjectGuid>92204c54-4fb1-4cc3-9be7-8bf16fbeecee</ProjectGuid>
    <MSDeployServiceURL>authgovermentapp.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>authgovermentapp</DeployIisAppPath>
    <SkipExtraFilesOnServer>true</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>true</EnableMSDeployBackup>
    <EnableMsDeployAppOffline>true</EnableMsDeployAppOffline>
    <UserName>$authgovermentapp</UserName>
    <_SavePWD>true</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <TargetFramework>net8.0</TargetFramework>
    <SelfContained>Framework-dependent</SelfContained>
    <RuntimeIdentifier>Portable</RuntimeIdentifier>
    <EncryptedPassword>AQAAANCMnd8BFdERjHoAwE/Cl+sBAAAAqabiow8ArUGNgkTiSAjNiAAAAAACAAAAAAADZgAAwAAAABAAAABv4Xw0jrBNncm8V5U185RPAAAAAASAAACgAAAAEAAAADLOzpNLxYrSurHhVKpy72aAAAAAZwXVZ0NX1uZ7GOWC0Ra/6Xtj76qHuuE8eLVIT+1MOnru/Nrf7J+yK0UyL+8SkzsbUZzLBAv+0RJ6r9qt6nB26PL3+r9l0/qwijn1WbRl0IYjmLpeJ/oDvlexhvUPcWcx5phftng1/wi5hkXhg4GhiNEqbKxYe/eKC/vkZas+RmsUAAAAYhvq1aG0kgTJEwQ26ILjNimD5aM=</EncryptedPassword>
    <EnvironmentSubType>AppServicePublishProfileVisual</EnvironmentSubType>
    <_PublishBasicAuthDisabled>true</_PublishBasicAuthDisabled>
  </PropertyGroup>
</Project>