<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <IsLinux>true</IsLinux>
    <RuntimeIdentifier>linux-x64</RuntimeIdentifier>
    <ResourceId>/subscriptions/d5945f29-007d-4d9e-87f8-f127bc0aef78/resourcegroups/Goverment/providers/Microsoft.Web/sites/GovermentAuthApi20240708181106</ResourceId>
    <ResourceGroup>Goverment</ResourceGroup>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <SiteUrlToLaunchAfterPublish>https://govermentauthapi20240708181106.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>92204c54-4fb1-4cc3-9be7-8bf16fbeecee</ProjectGuid>
    <PublishUrl>https://govermentauthapi20240708181106.scm.azurewebsites.net/</PublishUrl>
    <UserName>$GovermentAuthApi20240708181106</UserName>
    <_SavePWD>true</_SavePWD>
  </PropertyGroup>
</Project>